<ion-view view-title="Notes">
  <ion-content>
 <ion-list  
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
  <ion-item ng-repeat="n in notes"
            class=" ">
 
    <h2>{{n.title}}</h2>
    <p>{{n.note}}</p>
    <ion-option-button class="button-positive"
                       ng-click="share(item)">
      <span class="ion-android-share-alt" style="font-size: 30px"></span>
       
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
            <span class="ion-edit" style="font-size: 30px"></span>

    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button>
    <ion-reorder-button class="ion-navicon"
                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
    </ion-reorder-button>

  </ion-item>
</ion-list>
  </ion-content>
</ion-view>

<!-- 
 <br>
<ion-view view-title="Test"> 
<ion-content class="has-header">


  
 </ion-content>
 
 </ion-view> -->